##
## THIS FILE IS UNDER PUPPET CONTROL. DON'T EDIT IT HERE.
## USE: git clone git+ssh://$USER@puppet.debian.org/srv/puppet.debian.org/git/dsa-puppet.git
##

<VirtualHost <%= vhost_listen %> >
        ServerAdmin debian-admin@debian.org
        ServerName debug.mirrors.debian.org
        <% if scope.function_onion_global_service_hostname(['debug.mirrors.debian.org']) -%>
        ServerAlias <%= scope.function_onion_global_service_hostname(['debug.mirrors.debian.org']) %>
        <% end %>

        RedirectMatch "^/$" /debian-debug/
        Alias /debian-debug /srv/mirrors/debian-debug

        ErrorLog /var/log/apache2/debug.mirrors.debian.org-error.log
        LogLevel warn
        CustomLog /var/log/apache2/debug.mirrors.debian.org-access.log privacy

        <Directory /srv/mirrors/debian-debug>
                Require all granted
                IndexOptions NameWidth=* +SuppressDescription
                Options +Indexes
                Options +FollowSymLinks
        </Directory>
        Use ftp-archive /srv/mirrors/debian-debug
</VirtualHost>
