<% if scope.function_has_static_component(['planet.debian.org']) -%>

<Virtualhost <%= vhost_listen %> >
	ServerName planet.debian.org
	ServerAlias planet.debian.net planeta.debian.net planet-backend.debian.org planet-fastly.debian.org planet-maxcdn.debian.org
	<% if scope.function_onion_global_service_hostname(['planet.debian.org']) -%>
	ServerAlias <%= scope.function_onion_global_service_hostname(['planet.debian.org']) %>
	<% end %>
	ServerAdmin planet@debian.org

	ErrorLog /var/log/apache2/planet.debian.org-error.log
	CustomLog /var/log/apache2/planet.debian.org-access.log privacy

	<IfModule mod_userdir.c>
		UserDir disabled
	</IfModule>

	DocumentRoot /srv/static.debian.org/mirrors/planet.debian.org/cur
	AddDefaultCharset utf-8
	<Directory /srv/static.debian.org/mirrors/planet.debian.org/cur>
		Require all granted
	</Directory>

	RewriteEngine On
	RewriteCond %{HTTP_HOST} ^planeta.debian.net$ [NC]
	RewriteRule ^/(.*)        http://planet.debian.org/es/$1  [R=permanent,L]
	RewriteCond %{HTTP_HOST} ^planet.debian.net$ [NC]
	RewriteRule ^/(.*)        http://planet.debian.org/$1  [R=permanent,L]
</VirtualHost>
<% end -%>

# vim:set syn=apache:
