##
## THIS FILE IS UNDER PUPPET CONTROL. DON'T EDIT IT HERE.
## USE: git clone git+ssh://$USER@puppet.debian.org/srv/puppet.debian.org/git/dsa-puppet.git
##
#  For Bacula release 5.0.1 (24 February 2010) -- debian 5.0.4

Storage {
  Name = <%= bacula_storage_name %>
  SDPort = <%= bacula_storage_port %>
  WorkingDirectory = "/var/lib/bacula"
  Pid Directory = "/var/run/bacula"
  Maximum Concurrent Jobs = 21
  SDAddress = <%= bacula_storage_address %>
  Heartbeat Interval = 180

  TLS Enable = yes
  TLS Require = yes
  TLS Verify Peer = yes
  # TLS Allowed CN = "clientcerts/<%= bacula_director_address %>"
  TLS CA Certificate File = "<%= bacula_ca_path %>"
  # This is a server certificate, used for incoming connections.
  TLS Certificate = "<%= bacula_ssl_server_cert %>"
  TLS Key = "<%= bacula_ssl_server_key %>"
}

# List Directors who are permitted to contact Storage daemon
#
Director {
  Name = <%= bacula_director_name %>
  Password = "<%= bacula_storage_secret %>"

  TLS Enable = yes
  TLS Require = yes
  TLS Verify Peer = yes
  TLS Allowed CN = "clientcerts/<%= bacula_director_address %>"
  TLS CA Certificate File = "<%= bacula_ca_path %>"
  # This is a server certificate, used for incoming director connections.
  TLS Certificate = "<%= bacula_ssl_server_cert %>"
  TLS Key = "<%= bacula_ssl_server_key %>"
}

# Send all messages to the Director,
# mount messages also are sent to the email address
#
Messages {
  Name = Standard
  director = <%= bacula_director_name %> = all
}

Device {
  Name = "<%= bacula_filestor_device %>-catalog"
  Media Type = "<%= bacula_filestor_name %>-catalog"
  Archive Device = "<%= bacula_backup_path %>/Catalog"
  LabelMedia = yes;
  Random Access = Yes;
  AutomaticMount = yes;
  RemovableMedia = no;
  AlwaysOpen = no;
}

@|"sh -c 'for f in /etc/bacula/storage-conf.d/*.conf ; do echo @${f} ; done'"
