##
## THIS FILE IS UNDER PUPPET CONTROL. DON'T EDIT IT HERE.
## USE: git clone git+ssh://$USER@puppet.debian.org/srv/puppet.debian.org/git/dsa-puppet.git
##

<Directory /srv/ftp.root/debian-security>
   IndexOptions NameWidth=* +SuppressDescription
   Options +FollowSymLinks
   Options +Indexes
   FileETag MTime Size
   Require all granted
</Directory>

<VirtualHost *:80>
   ServerAdmin debian-admin@debian.org
   DocumentRoot /srv/ftp.root/debian-security
   ServerPath /debian-security
   ServerName security.debian.org
   ServerAlias security.ipv6.debian.org
   ServerAlias security.eu.debian.org
   ServerAlias security.us.debian.org
   ServerAlias security.na.debian.org
   ServerAlias security.geo.debian.org
   ServerAlias security-cdn.debian.org
   ServerAlias security-cdn1.debian.org
   ServerAlias security-cdn2.debian.org
   ServerAlias security-nagios.debian.org
   <% if scope.function_onion_global_service_hostname(['security.debian.org']) -%>
   ServerAlias <%= scope.function_onion_global_service_hostname(['security.debian.org']) %>
   <% end %>


   ExpiresActive On
   ExpiresDefault "access plus 2 minutes"

   Alias /debian-security /srv/ftp.root/debian-security
   Use ftp-archive /srv/ftp.root/debian-security

   RewriteEngine on
   RewriteRule ^/$      http://www.debian.org/security/

   # Possible values include: debug, info, notice, warn, error, crit,
   # alert, emerg.
   LogLevel warn

   CustomLog /var/log/apache2/security.debian.org-access.log privacy
   ServerSignature On
</VirtualHost>

# vim: set ts=3 sw=3 et:
