service <%= scope.lookupvar('service') %>
{
<%- if scope.lookupvar('bind') != '' -%>
	bind		= <%= scope.lookupvar('bind') %>
<%- end -%>
<%- if scope.lookupvar('type') != '' -%>
	type		= <%= scope.lookupvar('type') %>
<%- end -%>
<%- if scope.lookupvar('port') != '' -%>
	port		= <%= scope.lookupvar('port') %>
<%- end -%>
	id		= <%= scope.lookupvar('id') %>

	socket_type	= <%= scope.lookupvar('socket_type') %>
	protocol	= <%= scope.lookupvar('protocol') %>
<%- if scope.lookupvar('flags') != '' -%>
	flags		= <%= scope.lookupvar('flags') %>
<%- elsif scope.lookupvar('bind') =~  /:/ or scope.lookupvar('bind') == "" -%>
	flags		= IPv6
<%- end -%>
	wait		= <%= scope.lookupvar('wait') %>
	user		= <%= scope.lookupvar('user') %>
<%- if scope.lookupvar('group') != '' -%>
	group		= <%= scope.lookupvar('group') %>
<%- end -%>
	server		= <%= scope.lookupvar('server') %>
	server_args	= <%= scope.lookupvar('server_args') %>
	nice		= <%= scope.lookupvar('nice') %>
	instances	= <%= scope.lookupvar('instances') %>
	per_source	= <%= scope.lookupvar('per_source') %>
	cps		= <%= scope.lookupvar('cps') %>
}
