##
## THIS FILE IS UNDER PUPPET CONTROL. DON'T EDIT IT HERE.
## USE: git clone git+ssh://$USER@puppet.debian.org/srv/puppet.debian.org/git/dsa-puppet.git
##

# conversion from MSA stype WWIDs to multipathd.conf:
#
#   sed -re 's#(.{6})(.{6})0000(.{2})(.*)#36\1000\2\3\4#'

blacklist {
        devnode "^(ram|raw|loop|fd|md|dm-|sr|scd|st)[0-9]*"
        devnode "^hd[a-z][[0-9]*]"
        devnode "^vd[a-z]"
        devnode "^cciss!c[0-9]d[0-9]*[p[0-9]*]"
<%- if %w{ubc-bl7 ubc-bl3 ubc-bl6 ubc-bl2}.include?(hostname) then -%>
        devnode "^sda[0-9]*$"
<%- end -%>
        device {
                vendor DEC.*
                product MSA[15]00
        }
}
multipaths {
        # geo2
        multipath {
                wwid 3600c0ff000d5f6bd3ed7995101000000
                alias r10-geo2
        }
        # lotti
        multipath {
                wwid 3600c0ff000d5f6bd9a2a9a5101000000
                alias r10-lotti
        }
        multipath {
                wwid 3600c0ff000d5f6bd1ab08c4c01000000
                alias r6-lotti-srv
        }
        # jenko
        multipath {
                wwid 3600c0ff000d5f6bdf38f9b5101000000
                alias r10-jenko
        }
        # tchaikovsky
        multipath {
                wwid 3600c0ff000d5f6bd06f29c5101000000
                alias r10-tchaikovsky
        }
        # tye
        multipath {
                wwid 3600c0ff000d5f6bdb08aa05101000000
                alias r10-tye
        }
        multipath {
                wwid 3600c0ff000d5f6bdb28aa05101000000
                alias r10-tye-srv
        }
        # glinka
        multipath {
                wwid 3600c0ff000d5f6bdf0eaa45101000000
                alias r10-glinka
        }
        multipath {
                wwid 3600c0ff000d5f6bdf1eaa45101000000
                alias r10-glinka-srv
        }
        multipath {
                wwid 3600c0ff000d5f6bd866d4c5101000000
                alias r6-glinka-mirrors
        }
}
