<%=
  out = ""
  fn = "/etc/puppet/modules/ssl/files/servicecerts/#{name}.crt"
  if File.exist?(fn) then
    out = File.read(fn)

    chain = "/etc/puppet/modules/ssl/files/chains/#{name}.crt"
    out += File.exist?(chain) ? ("\n" + File.read(chain)) : ''
  else
    fn = "/etc/puppet/modules/ssl/files/from-letsencrypt/#{name}.crt-chained"
    out = File.read(fn)
  end
  out
%>
