##
## THIS FILE IS UNDER PUPPET CONTROL. DON'T EDIT IT HERE.
## USE: git clone git+ssh://$USER@puppet.debian.org/srv/puppet.debian.org/git/dsa-puppet.git
##

[apt]
user root

[courier_mta_mailqueue]
group daemon

[courier_mta_mailstats]
group adm, maillog

[courier_mta_mailvolume]
group adm, maillog

[cps*]
user root
<%=
out = ""
if has_variable?("mta") and mta == "exim4"
  out="
[exim_mail*]
user Debian-exim
group maillog"
end
out
%>

[vsftpd]
user root

[fw_conntrack]
user root

[fw_forwarded_local]
user root

[hddtemp_smartctl]
user root

[if_*]
user root

[if_err_*]
user nobody

[ip_*]
user root

[ip6_*]
user root

[mysql*]
user root
env.mysqlopts --defaults-extra-file=/etc/mysql/debian.cnf

[df*]
env.exclude none unknown iso9660 squashfs udf romfs ramfs debugfs
env.warning 92
env.critical 98

<%=
out = ""
if has_variable?("mta") and mta == "postfix"
  out="
[postfix_mailqueue]
user postfix

[postfix_mailstats]
group adm, maillog

[postfix_mailvolume]
group adm, maillog
env.logfile mail.log"
end
out
%>

[smart_*]
user root

[vlan*]
user root

[spamassassin]
group maillog

[bind*]
group bind
<%=
out = case hostname
  when "geo1","geo2","geo3" then "env.logfile /var/log/bind9/geoip-query.log"
  else "env.logfile /var/log/bind9/named-query.log"
end
out
%>

# filter out all the short-lived sbuild/schroot filesystems for diskstats:
[diskstats]
env.exclude sbuild,schroot

# filter out all the short-lived filesystems for df*:
[df*]
env.exclude_re ^/dev$ ^/run/.*$ ^/srv/piuparts-workspace/tmp.*$ ^/sys/.*$ ^/var/lib/schroot/mount/.*$

<% if scope.lookupvar('site::nodeinfo')['ldap'].has_key?('architecture') and scope.lookupvar('site::nodeinfo')['ldap']['architecture'][0].start_with?('kfreebsd') -%>
# Workaround for https://bugs.debian.org/767102
[df*]
env.exclude devfs fdescfs linprocfs sysfs noprocfs linsysfs nfs nullfs
<% end %>
